html {
    font-size: 17px;
}

.title-1 {
    font-size: 2.2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.title-2 {
    font-size: 1.8rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.title-3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.main-nav-bar {
    min-height: 4rem;
}

.main-content {
    margin-top: 4rem;
}

.max-width {
    max-width: 1400px;
}

#state ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

#state ul>li {
    margin: 3px 5px;
    display: inline-block;
}

.left-nav-bar {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
    overflow-x: hidden;
    overflow-y: auto;
}

.section-nav {
    padding-left: 0;
    margin: 1rem 0;
    border-right: 1px solid #eee;
    list-style: none;
}

.section-nav ul {
    padding-left: 1rem;
    list-style: none;
}

.section-nav .nav-link {
    display: block;
    padding: .125rem 1.5rem;
    color: #77757a;
}

.section-nav .nav-link.active {
    color: #007bff;
}

.section-nav .nav-link:hover {
    color: rgba(0, 123, 255, 0.45);
    text-decoration: none;
}

.right-section {
    padding: 1rem 3rem 1rem 2rem;
    position: relative;
}

.knowledge-layout, .tags-layout {
    padding: 0;
}

.knowledge-layout>ul, .tags-layout>ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
    border: 1px solid #eee;
    border-radius: 4px;
}

.knowledge-layout>ul .note-toolbar, .tags-layout>ul .note-toolbar {
    display: none;
}

.editor-addon {
    padding: 5px;
    border: 2px solid #ffc107;
    margin: 5px 0;
}

.knowledge-layout>ul>li, .tags-layout>ul>li {
    display: block;
}

.knowledge-layout>ul>li>span:nth-of-type(1), .tags-layout>ul>li>span:nth-of-type(1) {
    font-weight: bold;
}

.knowledge-layout>ul>li>span:nth-of-type(1)::after, .tags-layout>ul>li>span:nth-of-type(1)::after {
    content: ":  ";
    padding-right: 5px;
}

.footer {
    min-height: 300px;
}


.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.text-highlight {
    font-weight: bold;
    background-color: yellow;
}

.auto-complete {
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 1000;
    background-color: white;
    border: 1px solid #bbb;
    padding: 10px 0;
}

.auto-complete-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.auto-complete-list-item {
    padding: 5px 1rem;
}

.auto-complete-list-item.active {
    background-color: yellow;
}

.auto-complete-list-item:not(.active):hover {
    cursor: pointer;
    background-color: #77757a;
}

.home-search-layout {
    height: 35vh;
    align-items: flex-end;
}

.fade {
    transition: opacity 0.5s linear !important;
}

.note-editor {
    max-width: 800px;
}